.footer {
  width: 100%;
  background-color: none;
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  font-weight: normal;
}

.footer-content {
  text-align: center;
}
