.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: none;
  color: black;
}

.logo {
  flex: 1;
  max-width: 100px;
  height: 6em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em grey);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em grey);
}

.logo img {
  width: 100%;
  height: auto;
}

.nav {
  list-style: none;
  display: flex;
  /* gap: 0px; */
  margin-left: auto;
  color: black;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav nav a {
  position: fixed;
  top: 26px;
  right: 22px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.nav a {
  margin-top: 3px;
}

.slash {
  top: 26px;
  padding: 10px 10px;
}

.nav-link:hover {
  color: grey; /* Link color on hover */
}

.social-icons {
  display: flex;
  /* gap: 20px; */
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.social-icons a {
  color: black;
  margin-right: 30px;
  text-decoration: none;
  /* transition: color 0.3s ease; */
}

.social-icons a:hover {
  color: grey;
}
